{% if LIGHTBOX_RESIZE_WIDTH %}
	{% INCLUDEJS '@vse_lightbox/js/resizer.js' %}
	{# Test $INCLUDED_LIGHTBOXJS is not defined #}
	{% if not definition.INCLUDED_LIGHTBOXJS %}
		{% INCLUDEJS '@vse_lightbox/lightbox/js/lightbox.min.js' %}
		{% DEFINE INCLUDED_LIGHTBOXJS = true %}
	{% endif %}
	<script>
		var vseLightbox = {};
		vseLightbox.resizeWidth = {{ LIGHTBOX_RESIZE_WIDTH }};
		vseLightbox.lightboxGal = {{ S_LIGHTBOX_GALLERY }};
		vseLightbox.lightboxSig = {{ S_LIGHTBOX_SIGNATURES }};
		vseLightbox.imageTitles = {{ S_LIGHTBOX_IMG_TITLES }};
		vseLightbox.downloadFile = 'download/file.{{ PHP_EXTENSION|escape("js") }}';
	</script>
{% endif %}
