{% if S_LIGHTBOX_RESIZE %}

<!-- IF not $INCLUDED_LIGHTBOXJS -->
	<!-- INCLUDEJS @vse_lightbox/lightbox/js/lightbox.min.js -->
	<!-- DEFINE $INCLUDED_LIGHTBOXJS = true -->
<!-- ENDIF -->

{% set LIGHTBOX_GALLERY = 'false' %}

<script>

(function($) {  // Avoid conflicts with other libraries

'use strict';

$.fn.extend({
	borderHover: function() {
		return this.each(function() {
			$(this).css({
				'border': 'solid 3px transparent',
				'transition': 'border-color 0.1s ease-out',
				'border-radius': '6px',
				'cursor': 'pointer'
			}).hover(function() {
				$(this).css('border-color', '#4ae');
			}, function() {
				$(this).css('border-color', 'transparent');
			});
		});
	}
});

$(function() {
	var resizeWidth = {{ LIGHTBOX_RESIZE_WIDTH }},
		targetImage = $('.postimage'),
		galleryName = 'post-gallery',
		imagesIndex = 0,
		mobileWidth = 900;
	if (resizeWidth > 0 && $(window).width() > mobileWidth) {
		targetImage.css('max-width', resizeWidth + 'px');
	} else {
		return;
	}
	// enclosing the following in a setTimeout seems to solve issues with
	// images not being ready and causing $(this).width() to return 0.
	setTimeout(function() {
		targetImage.one('load', function() {
			if ($(this).closest('.postlink').length > 0) return;
			imagesIndex = ({{ LIGHTBOX_GALLERY }}) ? '' : imagesIndex + 1;
			if ($(this).parent('a').length > 0) {
				$(this).parent('a').attr({
					'data-lightbox': galleryName + imagesIndex,
					'data-title': $(this).attr('alt')
				}).end().borderHover();
			}
			else if ($(this).width() >= resizeWidth) {
				$(this).wrap(function() {
					var url = $(this).attr('src'),
						title = (url.indexOf('download/file.php') !== -1) ? $(this).attr('alt') : url.split('/').pop();
					return '<a href="' + url + '" data-lightbox="' + galleryName + imagesIndex + '" data-title="' + title + '"></a>';
				}).borderHover();
			}
		}).each(function() {
			if (this.complete) $(this).load();
		});
	}, 0);
});

})(jQuery);

</script>

{% endif %}
